S3method(print,fp_plot)
export(add_bar)
export(add_ci)
export(add_custom)
export(add_dot)
export(add_gap)
export(add_group)
export(add_header_group)
export(add_hline)
export(add_spacer)
export(add_stripe)
export(add_summary)
export(add_text)
export(add_text_ci)
export(edit)
export(forest_plot)
export(fp_aes)
export(fp_bar)
export(fp_ci)
export(fp_custom)
export(fp_dot)
export(fp_fmt_number)
export(fp_fmt_percent)
export(fp_fmt_pvalue)
export(fp_gap)
export(fp_register)
export(fp_render)
export(fp_size)
export(fp_spacer)
export(fp_text)
export(fp_text_ci)
export(fp_theme_default)
export(fp_theme_journal)
export(panelforest_example_data)
